@import url('../vendor/fonts/fonts.css');

:root {
    --blue-color: #3579F5;
    --blue-light-color: #4777ED;
    --blue-dark-color: #2364DB;
    --white-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    background-color: gray;
}

p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--white-color);
}

p.bold {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

p.blue {
    font-size: 14px;
    line-height: 20px;
    color: var(--blue-light-color);
}

p.number {
    font-size: 20px;
    line-height: 30px;
}